@import "tailwindcss";
@import "./styles/fonts.css";

:root {
  --font-qurova: "Qurova", sans-serif;
}

@theme inline {
  --font-sans: var(--font-montserrat);
  --color-primary: #9c27b0;
  --color-offWhite: #faf9f6;
  --color-gray: #cdcdcd;
  --color-placeholder: #999999;
  --color-gray-light: #aeaeae;
  --font-qurova: var(--font-qurova);
}

body {
  @apply text-sm font-sans;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@layer components {
  button {
    @apply cursor-pointer focus:outline-none;
  }
}

.auth-section {
  @apply w-full flex flex-col items-center gap-8;

  h2 {
    @apply text-2xl place-self-start font-extrabold text-primary;
  }
}

.overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.section-content {
  @apply w-full flex flex-col gap-5 pt-8 pb-5 bg-white relative;

  .slider-container {
    @apply w-full flex items-center gap-4;
  }
}

@theme {
  --shadow-menu: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* * {
  outline: 1px solid lime;
} */

/* boxShadow: {
        add: "rgba(0, 0, 0, 0.1) 0px 4px 12px",
        menu: "rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px",
        card: "rgba(0, 0, 0, 0.15) 0px 2px 8px",
      }, */

/* EMBLA CONFIG */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
